@font-face {
  font-family: AvenirBook;
  src: url(Avenir/AvenirLTStd-Book.otf); }
html, body {
  height: 100%;
  margin: 0; }

.background {
  width: 100%;
  height: 100%;
  background: url("img/background.png");
  background-size: 100% auto;
  position: relative; }

.header {
  width: 100%;
  height: 26%;
  background: #ba77ff; }
  .header .ht-menu {
    width: 100%;
    height: 29%; }
    .header .ht-menu .icon-menu {
      width: 13%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-menu .icon-menu div {
        width: 20px;
        height: 100%;
        margin-left: 13px; }
        .header .ht-menu .icon-menu div img {
          width: 20px;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
    .header .ht-menu .text-menu {
      width: 74%;
      height: 100%;
      float: left;
      background: #ba77ff;
      position: relative; }
      .header .ht-menu .text-menu div {
        color: #fff;
        font-size: 13px;
        font-family: AvenirBook;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .header .ht-menu .icon-seach {
      width: 13%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-menu .icon-seach div {
        width: 20px;
        height: 100%;
        float: right;
        margin-right: 13px; }
        .header .ht-menu .icon-seach div img {
          width: 25px;
          height: auto;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
  .header .ht-monday {
    width: 100%;
    height: 71%; }
    .header .ht-monday .text-1 {
      color: #fff;
      font-size: 23pt;
      text-align: center;
      font-family: AvenirBook;
      letter-spacing: 0.7px;
      line-height: 1; }
    .header .ht-monday .text-2 {
      color: #fff;
      font-size: 9pt;
      text-align: center;
      font-family: AvenirBook;
      opacity: 0.7;
      letter-spacing: 0.7px; }

.ht-web-app {
  width: 100%;
  height: 13.2%; }
  .ht-web-app .boder-text-left {
    width: 70%;
    height: 100%;
    float: left;
    box-sizing: border-box; }
    .ht-web-app .boder-text-left .text-finish-home-screen {
      width: 100%;
      height: 60%;
      position: relative; }
      .ht-web-app .boder-text-left .text-finish-home-screen div {
        margin-left: 21.2px;
        color: #fff;
        font-family: AvenirBook;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: 0.7px;
        opacity: 0.8; }
    .ht-web-app .boder-text-left .text-web-app {
      width: 100%;
      height: 30%; }
      .ht-web-app .boder-text-left .text-web-app div {
        margin-left: 21.2px;
        color: #fff;
        font-family: AvenirBook;
        letter-spacing: 0.7px;
        opacity: 0.4;
        font-size: 9pt; }
  .ht-web-app .boder-text-right {
    width: 30%;
    height: 60%;
    float: left;
    position: relative;
    box-sizing: border-box; }
    .ht-web-app .boder-text-right div {
      text-align: right;
      color: #fff;
      font-family: AvenirBook;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 21.2px;
      letter-spacing: 0.7px;
      opacity: 0.8;
      font-size: 10pt; }

.bottom-line {
  width: 100%;
  height: 2px; }
  .bottom-line .div-1 {
    width: 20px;
    height: 2px;
    float: left; }
  .bottom-line .div-2 {
    width: calc(100% - 40px);
    height: 2px;
    float: left;
    background: #fff;
    opacity: 0.1; }
  .bottom-line .div-3 {
    width: 20px;
    height: 2px;
    float: left; }

.ht-lunch-app {
  width: 100%;
  height: 9.7%; }
  .ht-lunch-app .boder-text-left {
    width: 70%;
    height: 100%;
    float: left; }
    .ht-lunch-app .boder-text-left .text-finish-home-screen {
      width: 100%;
      height: 100%;
      position: relative; }
      .ht-lunch-app .boder-text-left .text-finish-home-screen div {
        margin-left: 21.2px;
        color: #fff;
        font-family: AvenirBook;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: 0.7px;
        opacity: 0.8; }
  .ht-lunch-app .boder-text-right {
    width: 30%;
    height: 100%;
    float: left;
    position: relative; }
    .ht-lunch-app .boder-text-right div {
      text-align: right;
      color: #fff;
      font-family: AvenirBook;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 21.2px;
      letter-spacing: 0.7px;
      opacity: 0.8;
      font-size: 10pt; }

.ht-finish {
  width: 100%;
  height: 19%; }
  .ht-finish .finish-text {
    width: 70%;
    height: 100%;
    float: left; }
    .ht-finish .finish-text .text-design-stand-up {
      width: 100%;
      height: 25%;
      position: relative; }
      .ht-finish .finish-text .text-design-stand-up div {
        margin-left: 21.2px;
        color: #fff;
        font-family: AvenirBook;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: 0.7px;
        opacity: 0.8; }
    .ht-finish .finish-text .text-hangouts {
      width: 100%;
      height: 17%;
      position: relative; }
      .ht-finish .finish-text .text-hangouts div {
        margin-left: 21.2px;
        color: #fff;
        font-family: AvenirBook;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: 0.7px;
        opacity: 0.4;
        font-size: 9pt; }
    .ht-finish .finish-text .avta-finish {
      width: 100%;
      height: 55%; }
      .ht-finish .finish-text .avta-finish .avt-1 {
        width: 30px;
        height: 100%;
        float: left;
        margin-left: 21.2px;
        position: relative; }
        .ht-finish .finish-text .avta-finish .avt-1 img {
          border-radius: 50%;
          width: 30px;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
      .ht-finish .finish-text .avta-finish .avt-2 {
        width: 30px;
        height: 100%;
        float: left;
        position: relative;
        margin-left: 10px; }
        .ht-finish .finish-text .avta-finish .avt-2 img {
          border-radius: 50%;
          width: 30px;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
      .ht-finish .finish-text .avta-finish .avt-3 {
        width: 30px;
        height: 100%;
        float: left;
        position: relative;
        margin-left: 10px; }
        .ht-finish .finish-text .avta-finish .avt-3 img {
          border-radius: 50%;
          width: 30px;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
  .ht-finish .finish-time {
    width: 30%;
    height: 100%;
    float: left; }
    .ht-finish .finish-time .ht-time {
      width: 100%;
      height: 30%;
      position: relative; }
      .ht-finish .finish-time .ht-time div {
        text-align: right;
        color: #fff;
        font-family: AvenirBook;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 21.2px;
        letter-spacing: 0.7px;
        opacity: 0.8;
        font-size: 10pt; }

.bottom-line {
  width: 100%;
  height: 2px; }
  .bottom-line .div-1 {
    width: 20px;
    height: 2px;
    float: left; }
  .bottom-line .div-2 {
    width: calc(100% - 40px);
    height: 2px;
    float: left;
    background: #fff;
    opacity: 0.1; }
  .bottom-line .div-3 {
    width: 20px;
    height: 2px;
    float: left; }

.footer {
  width: 100%;
  height: 17%;
  position: relative; }
  .footer .button-bg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: contain;
    background: #ba77ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .footer .layer-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
    .footer .layer-button img {
      width: 22px;
      height: 22px; }

/*# sourceMappingURL=style.css.map */
