@font-face {
    font-family: AvenirBook;
    src: url(Avenir/AvenirLTStd-Book.otf);
}
html, body{
	height: 100%;
	margin: 0;
}

.background{
	width: 100%;
	height: 100%;
	background: url("img/background.png");
	background-size: 100% auto;
	position: relative;
}
.header{
	width: 100%;
	height: 26%;
	background: #ba77ff ;
	.ht-menu{
		width: 100%;
		height: 29%;
		.icon-menu{
			width: 13%;
			height: 100%;
			float: left;
			position: relative;
			div{
				width: 20px;
				height: 100%;
				margin-left: 13px;
				img{
					width: 20px;
					height: auto;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
		}
	}
	.text-menu{
			width: 74%;
			height: 100%;
			float: left;
			background: #ba77ff;
			position: relative;
				div{
					color: #fff;
					font-size: 13px;
					font-family: AvenirBook;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
			}
	}
	.icon-seach{
			width: 13%;
			height: 100%;
			float: left;
			position: relative;
			div{
				width: 20px;
				height: 100%;
				float: right;
				margin-right: 13px;
				img{
					width: 25px;
					height: auto;
					border-radius: 50%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
	}
}
	.ht-monday{
		width: 100%;
		height: 71%;
		.text-1{
			color: #fff;
			font-size: 23pt;
			text-align: center;
			font-family: AvenirBook;
			letter-spacing: 0.7px;
			line-height: 1;
		}
		.text-2{
			color: #fff;
			font-size: 9pt;
			text-align: center;
			font-family: AvenirBook;
			opacity: 0.7;
			letter-spacing: 0.7px;
		}
	}
}
.ht-web-app{
	width: 100%;
	height: 13.2%;
	.boder-text-left{
		width: 70%;
		height: 100%;
		float: left;
		box-sizing: border-box;
		.text-finish-home-screen{
			width: 100%;
			height: 60%;
			position: relative;
			div{
				margin-left: 21.2px;
				color: #fff;
				font-family: AvenirBook;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				letter-spacing: 0.7px;
				opacity: 0.8;
			}
		}
		.text-web-app{
			width: 100%;
			height: 30%;
			div{
				margin-left: 21.2px;
				color: #fff;
				font-family: AvenirBook;
				letter-spacing: 0.7px;
				opacity: 0.4;
				font-size: 9pt;
			}
		}
	}
	.boder-text-right{
		width: 30%;
		height: 60%;
		float: left;
		position: relative;
		box-sizing: border-box;
			div{
				text-align: right;
				color: #fff;
				font-family: AvenirBook;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 21.2px;
				letter-spacing: 0.7px;
				opacity: 0.8;
				font-size: 10pt;
			}
	}
}
.bottom-line{
	width: 100%;
	height: 2px;
	.div-1{
		width: 20px;
		height: 2px;
		float : left;
	}
	.div-2{
		width: calc(100% - 40px);
		height: 2px;
		float : left;
		background: #fff;
		opacity: 0.1;
	}
	.div-3{
		width: 20px;
		height: 2px;
		float : left;
	}
}
.ht-lunch-app{
	width: 100%;
	height: 9.7%;
	.boder-text-left{
		width: 70%;
		height: 100%;
		float: left;
		.text-finish-home-screen{
			width: 100%;
			height: 100%;
			position: relative;
			div{
				margin-left: 21.2px;
				color: #fff;
				font-family: AvenirBook;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				letter-spacing: 0.7px;
				opacity: 0.8;
			}
		}
	}
	.boder-text-right{
		width: 30%;
		height: 100%;
		float: left;
		position: relative;
			div{
				text-align: right;
				color: #fff;
				font-family: AvenirBook;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 21.2px;
				letter-spacing: 0.7px;
				opacity: 0.8;
				font-size: 10pt;
			}
	}
}
.ht-finish{
	width: 100%;
	height: 19%;
	.finish-text{
		width: 70%;
		height: 100%;
		float: left;
		.text-design-stand-up{
			width: 100%;
			height: 25%;
			position: relative;
			div{
				margin-left: 21.2px;
				color: #fff;
				font-family: AvenirBook;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				letter-spacing: 0.7px;
				opacity: 0.8;
			}
		}
		.text-hangouts{
			width: 100%;
			height: 17%;
			position: relative;
			div{
				margin-left: 21.2px;
				color: #fff;
				font-family: AvenirBook;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				letter-spacing: 0.7px;
				opacity: 0.4;
				font-size: 9pt;
			}
		}
		.avta-finish{
			width: 100%;
			height: 55%;
			.avt-1{
				width: 30px;
				height: 100%;
				float: left;
				margin-left: 21.2px;
				position: relative;
				img{
					border-radius: 50%;
					width: 30px;
					height: auto;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.avt-2{
				width: 30px;
				height: 100%;
				float: left;
				position: relative;
				margin-left: 10px;
				img{
					border-radius: 50%;
					width: 30px;
					height: auto;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.avt-3{
				width: 30px;
				height: 100%;
				float: left;
				position: relative;
				margin-left: 10px;
				img{
					border-radius: 50%;
					width: 30px;
					height: auto;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	.finish-time{
		width: 30%;
		height: 100%;
		float: left;
		.ht-time{
			width: 100%;
			height: 30%;
			position: relative;
			div{
				text-align: right;
				color: #fff;
				font-family: AvenirBook;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 21.2px;
				letter-spacing: 0.7px;
				opacity: 0.8;
				font-size: 10pt;
			}
		}
	}
}
.bottom-line{
	width: 100%;
	height: 2px;
	.div-1{
		width: 20px;
		height: 2px;
		float : left;
	}
	.div-2{
		width: calc(100% - 40px);
		height: 2px;
		float : left;
		background: #fff;
		opacity: 0.1;
	}
	.div-3{
		width: 20px;
		height: 2px;
		float : left;
	}
}
.footer{
	width: 100%;
	height: 17%;
	position: relative;
	.button-bg{
		width: 55px;
		height: 55px;
		border-radius: 50%;
		object-fit: contain;
		background: #ba77ff;;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.layer-button{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		img{
			width: 22px;
			height: 22px;
		}
	}
}