@font-face {
  font-family: AvenirBook;
  src: url(Avenir/AvenirLTStd-Book.otf); }
html, body {
  height: 100%;
  margin: 0; }

.background {
  width: 100%;
  height: 100%;
  background: url("img/background.png");
  background-size: 100% 100%;
  position: relative; }

.header {
  width: 100%;
  height: 18%;
  background: #ba77ff; }
  .header .ht-menu {
    width: 100%;
    height: 45%; }
    .header .ht-menu .icon-menu {
      width: 20%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-menu .icon-menu img {
        width: 21px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .header .ht-menu .text-menu {
      width: 58%;
      height: 100%;
      float: left;
      margin: 0;
      background: #ba77ff; }
      .header .ht-menu .text-menu .border-text {
        width: 60%;
        height: 100%;
        margin: 0 auto; }
        .header .ht-menu .text-menu .border-text .text-fabruary {
          width: 70%;
          height: 100%;
          float: left;
          position: relative; }
          .header .ht-menu .text-menu .border-text .text-fabruary div {
            color: #fff;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            text-align: left;
            font-size: 13pt;
            font-family: AvenirBook; }
        .header .ht-menu .text-menu .border-text .icon-v {
          width: 26%;
          height: 100%;
          float: left;
          position: relative; }
          .header .ht-menu .text-menu .border-text .icon-v img {
            width: 13px;
            height: auto;
            position: absolute;
            top: 55%;
            transform: translateY(-55%);
            margin-left: 10px; }
    .header .ht-menu .icon-seach {
      width: 20%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-menu .icon-seach img {
        width: 22.5px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
  .header .ht-monday {
    width: 100%;
    height: 55%;
    background: #ba77ff; }
    .header .ht-monday .ht-sun {
      width: 17.5%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-monday .ht-sun div {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translateX(-65%) translateY(-50%);
        font-family: AvenirBook;
        color: #fff;
        letter-spacing: 1.1px;
        font-size: 10pt;
        opacity: 0.7; }
    .header .ht-monday .ht-mon {
      width: 13%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-monday .ht-mon div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: AvenirBook;
        color: #fff;
        letter-spacing: 1.1px;
        font-size: 10pt;
        opacity: 0.7; }
    .header .ht-monday .ht-tue {
      width: 13%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-monday .ht-tue div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: AvenirBook;
        color: #fff;
        letter-spacing: 1.1px;
        font-size: 10pt;
        opacity: 0.7; }
    .header .ht-monday .ht-web {
      width: 13%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-monday .ht-web div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: AvenirBook;
        color: #fff;
        letter-spacing: 1.1px;
        font-size: 10pt;
        opacity: 0.7; }
    .header .ht-monday .ht-thu {
      width: 13%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-monday .ht-thu div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: AvenirBook;
        color: #fff;
        letter-spacing: 1.1px;
        font-size: 10pt;
        opacity: 0.7; }
    .header .ht-monday .ht-fri {
      width: 13%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-monday .ht-fri div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: AvenirBook;
        color: #fff;
        letter-spacing: 1.1px;
        font-size: 10pt;
        opacity: 0.7; }
    .header .ht-monday .ht-sat {
      width: 17.5%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-monday .ht-sat div {
        position: absolute;
        top: 50%;
        right: 65%;
        transform: translateX(65%) translateY(-50%);
        font-family: AvenirBook;
        color: #fff;
        letter-spacing: 1.1px;
        font-size: 10pt;
        opacity: 0.7; }

.border-them {
  width: 100%;
  height: 2%; }

.hang-1 {
  width: 100%;
  height: 9%; }
  .hang-1 .so-31 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-1 .so-31 div {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translateX(-65%) translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-1 .so-1 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-1 .so-1 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-1 .so-1 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-1 .so-2 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-1 .so-2 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-1 .so-3 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-1 .so-3 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-1 .so-4 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-1 .so-4 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-1 .so-4 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-1 .so-5 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-1 .so-5 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-1 .so-5 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-1 .so-6 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-1 .so-6 div {
      position: absolute;
      top: 50%;
      right: 65%;
      transform: translateX(65%) translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
      font-family: AvenirBook;
      font-size: 13px; }

.hang-2 {
  width: 100%;
  height: 8%; }
  .hang-2 .so-7 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-2 .so-7 div {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translateX(-65%) translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-2 .so-8 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-2 .so-8 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-2 .so-9 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-2 .so-9 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-2 .so-9 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-2 .so-10 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-2 .so-10 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-2 .so-11 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-2 .so-11 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-2 .so-11 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-2 .so-12 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-2 .so-12 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-2 .so-13 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-2 .so-13 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      right: 75%;
      transform: translateX(75%) translateY(-50%);
      opacity: 0.1; }
    .hang-2 .so-13 div {
      position: absolute;
      top: 50%;
      right: 65%;
      transform: translateX(65%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }

.hang-3 {
  width: 100%;
  height: 8%; }
  .hang-3 .so-14 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-3 .so-14 div {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translateX(-65%) translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-3 .so-15 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-3 .so-15 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-3 .so-15 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-3 .so-16 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-3 .so-16 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-3 .so-17 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-3 .so-17 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-3 .so-17 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-3 .so-18 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-3 .so-18 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-3 .so-19 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-3 .so-19 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-3 .so-19 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-3 .so-20 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-3 .so-20 div {
      position: absolute;
      top: 50%;
      right: 65%;
      transform: translateX(65%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }

.hang-4 {
  width: 100%;
  height: 8%; }
  .hang-4 .so-21 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-4 .so-21 div {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translateX(-65%) translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-4 .so-22 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-4 .so-22 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-4 .so-22 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-4 .so-23 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-4 .so-23 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-4 .so-24 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-4 .so-24 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-4 .so-25 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-4 .so-25 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-4 .so-25 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-4 .so-26 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-4 .so-26 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.1; }
    .hang-4 .so-26 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-4 .so-27 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-4 .so-27 div {
      position: absolute;
      top: 50%;
      right: 65%;
      transform: translateX(65%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px; }

.hang-5 {
  width: 100%;
  height: 9%; }
  .hang-5 .so-28 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-5 .so-28 .calendar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translateX(-75%) translateY(-50%);
      opacity: 0.1; }
    .hang-5 .so-28 div {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translateX(-65%) translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
      font-family: AvenirBook;
      font-size: 13px; }
  .hang-5 .so-1 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-5 .so-1 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5); }
  .hang-5 .so-2 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-5 .so-2 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5); }
  .hang-5 .so-3 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-5 .so-3 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5); }
  .hang-5 .so-4 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-5 .so-4 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5); }
  .hang-5 .so-5 {
    width: 13.6%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-5 .so-5 div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-family: AvenirBook;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5); }
  .hang-5 .so-6 {
    width: 16%;
    height: 100%;
    float: left;
    position: relative; }
    .hang-5 .so-6 div {
      position: absolute;
      top: 50%;
      right: 65%;
      transform: translateX(65%) translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
      font-family: AvenirBook;
      font-size: 13px; }

.status-text {
  width: 100%;
  height: 23%;
  position: relative; }
  .status-text div {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    line-height: 1.5;
    font-size: 14px;
    font-family: AvenirBook;
    letter-spacing: 1.1px;
    opacity: 0.7; }

.footer {
  width: 100%;
  height: 15%;
  position: relative; }
  .footer div {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ba77ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .footer img {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

/*# sourceMappingURL=style.css.map */
