@font-face {
  font-family: AvenirBook;
  src: url(Avenir/AvenirLTStd-Book.otf); }
html, body {
  height: 100%;
  margin: 0; }

.background {
  width: 100%;
  height: 100%;
  background: gray; }

.header {
  width: 100%;
  height: 24%;
  background: #ba77ff; }
  .header .menu {
    width: 100%;
    height: 60%; }
    .header .menu .icon-menu {
      width: 20%;
      height: 100%;
      float: left;
      position: relative; }
      .header .menu .icon-menu img {
        width: 31%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .header .menu .text-menu {
      width: 58%;
      height: 100%;
      float: left;
      position: relative;
      margin: 0; }
      .header .menu .text-menu div {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: AvenirBook;
        font-size: 17px;
        line-height: 2.5;
        letter-spacing: 0.8px;
        font-family: avenirbook; }
    .header .menu .icon-seach {
      width: 20%;
      height: 100%;
      float: left;
      position: relative; }
      .header .menu .icon-seach img {
        width: 43%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
  .header .menu-layer {
    width: 100%;
    height: 40%; }
    .header .menu-layer .popular {
      width: 35%;
      height: 100%;
      float: left;
      position: relative; }
      .header .menu-layer .popular div {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 11px;
        font-family: avenirbook;
        opacity: 0.8;
        letter-spacing: 1.1px; }
    .header .menu-layer .latest {
      width: 30%;
      height: 100%;
      float: left;
      position: relative; }
      .header .menu-layer .latest div {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 11px;
        font-family: avenirbook;
        opacity: 0.8;
        letter-spacing: 1.1px; }
    .header .menu-layer .archived {
      width: 35%;
      height: 100%;
      float: left;
      position: relative; }
      .header .menu-layer .archived div {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 11px;
        font-family: avenirbook;
        opacity: 0.8;
        letter-spacing: 1.1px; }

.content {
  width: 100%;
  height: 76%; }
  .content .image-content-work {
    width: 100%;
    height: 33.3%;
    background: url("img/work.png");
    background-size: 100% 100%; }
    .content .image-content-work .ht-border-trong {
      width: 100%;
      height: 65%; }
    .content .image-content-work .ht-border-footer {
      width: 100%;
      height: 35%; }
      .content .image-content-work .ht-border-footer .work {
        width: 78%;
        height: 100%;
        float: left;
        position: relative; }
        .content .image-content-work .ht-border-footer .work div {
          color: #fff;
          font-size: 25px;
          font-family: avenirbook;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 20px; }
      .content .image-content-work .ht-border-footer .count-bg {
        width: 22%;
        height: 100%;
        float: left;
        position: relative; }
        .content .image-content-work .ht-border-footer .count-bg .ht-count-bg {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 50%;
          opacity: 0.1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%); }
        .content .image-content-work .ht-border-footer .count-bg .number {
          color: #fff;
          font-size: 13px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          font-family: avenirbook; }
  .content .image-content-food {
    width: 100%;
    height: 33.3%;
    background: url("img/food.png");
    background-size: 100% 100%; }
    .content .image-content-food .ht-border-trong {
      width: 100%;
      height: 65%; }
    .content .image-content-food .ht-border-footer {
      width: 100%;
      height: 35%; }
      .content .image-content-food .ht-border-footer .work {
        width: 78%;
        height: 100%;
        float: left;
        position: relative; }
        .content .image-content-food .ht-border-footer .work div {
          color: #fff;
          font-size: 25px;
          font-family: avenirbook;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 20px; }
      .content .image-content-food .ht-border-footer .count-bg {
        width: 22%;
        height: 100%;
        float: left;
        position: relative; }
        .content .image-content-food .ht-border-footer .count-bg .ht-count-bg {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 50%;
          opacity: 0.1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%); }
        .content .image-content-food .ht-border-footer .count-bg .number {
          color: #fff;
          font-size: 13px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          font-family: avenirbook; }
  .content .image-content-auto {
    width: 100%;
    height: 33.3%;
    background: url("img/auto.png");
    background-size: 100% 100%; }
    .content .image-content-auto .ht-border-trong {
      width: 100%;
      height: 65%; }
    .content .image-content-auto .ht-border-footer {
      width: 100%;
      height: 35%; }
      .content .image-content-auto .ht-border-footer .work {
        width: 78%;
        height: 100%;
        float: left;
        position: relative; }
        .content .image-content-auto .ht-border-footer .work div {
          color: #fff;
          font-size: 25px;
          font-family: avenirbook;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 20px; }
      .content .image-content-auto .ht-border-footer .count-bg {
        width: 22%;
        height: 100%;
        float: left;
        position: relative; }
        .content .image-content-auto .ht-border-footer .count-bg .ht-count-bg {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 50%;
          opacity: 0.1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%); }
        .content .image-content-auto .ht-border-footer .count-bg .number {
          color: #fff;
          font-size: 13px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          font-family: avenirbook; }

/*# sourceMappingURL=style.css.map */
