@font-face {
  font-family: AvenirBook;
  src: url(Avenir/AvenirLTStd-Book.otf); }
html, body {
  height: 100%;
  margin: 0; }

.background {
  width: 100%;
  height: 100%;
  position: relative; }

.header {
  width: 100%;
  height: 26%;
  background: #ba77ff; }
  .header .menu {
    width: 100%;
    height: 28.6%; }
    .header .menu .icon-menu {
      width: 50px;
      height: 100%;
      float: left;
      position: relative;
      box-sizing: border-box; }
      .header .menu .icon-menu img {
        width: 18px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .header .menu .text-menu {
      width: calc(100% - 100px);
      height: 100%;
      float: left;
      position: relative;
      margin: 0;
      box-sizing: border-box; }
      .header .menu .text-menu div {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: AvenirBook;
        font-size: 16px;
        line-height: 2.5;
        letter-spacing: 0.7px; }
    .header .menu .icon-maks {
      width: 50px;
      height: 100%;
      float: left;
      position: relative;
      box-sizing: border-box; }
      .header .menu .icon-maks img {
        border-radius: 50%;
        width: 22px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
  .header .ht-monday {
    width: 100%;
    height: 71%; }
    .header .ht-monday .text-1 {
      width: 100%;
      height: 40%; }
      .header .ht-monday .text-1 div {
        color: #fff;
        font-size: 35pt;
        text-align: center;
        font-family: AvenirBook;
        letter-spacing: 0.7px; }
    .header .ht-monday .text-2 {
      width: 100%;
      height: 35%;
      position: relative; }
      .header .ht-monday .text-2 div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        font-size: 14px;
        font-family: AvenirBook;
        opacity: 0.7;
        letter-spacing: 0.7px; }

.content {
  width: 100%;
  height: 67%; }
  .content .ht-content {
    width: 100%;
    height: 14.3%; }
    .content .ht-content .select-date {
      width: 160px;
      height: 100%;
      float: left;
      position: relative;
      box-sizing: border-box; }
      .content .ht-content .select-date div {
        margin-left: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: avenirbook;
        letter-spacing: 0.3px;
        color: #1d1d26;
        font-size: 14px; }
    .content .ht-content .border-trong {
      width: calc(100% - 320px);
      height: 100%;
      box-sizing: border-box;
      float: left; }
    .content .ht-content .text-time {
      width: 160px;
      height: 100%;
      float: left;
      position: relative;
      box-sizing: border-box; }
      .content .ht-content .text-time .ht-time {
        width: 140px;
        height: 100%;
        box-sizing: border-box;
        margin-right: 20px;
        position: relative; }
        .content .ht-content .text-time .ht-time div {
          right: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-family: avenirbook;
          letter-spacing: 0.3px;
          color: #1d1d26;
          font-size: 14px; }
      .content .ht-content .text-time .ht-track {
        width: 140px;
        height: 100%;
        position: relative;
        float: left;
        box-sizing: border-box; }
        .content .ht-content .text-time .ht-track .ht-cong-tac {
          width: calc(100% - 35px);
          height: 100%;
          float: left; }
        .content .ht-content .text-time .ht-track .cong-tac {
          width: 35px;
          height: 100%;
          box-sizing: border-box; }
          .content .ht-content .text-time .ht-track .cong-tac .icon-track {
            width: 35px;
            height: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); }
          .content .ht-content .text-time .ht-track .cong-tac .icon-knob {
            width: 22px;
            height: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); }
  .content .bottom-line {
    width: 100%;
    height: 2px; }
    .content .bottom-line .div-1 {
      width: 20px;
      height: 2px;
      float: left; }
    .content .bottom-line .div-2 {
      width: calc(100% - 40px);
      height: 1px;
      float: left;
      background: black;
      opacity: 0.1; }
    .content .bottom-line .div-3 {
      width: 20px;
      height: 2px;
      float: left; }

/*# sourceMappingURL=style.css.map */
