@font-face {
  font-family: AvenirBook;
  src: url(Avenir/AvenirLTStd-Book.otf); }
html, body {
  height: 100%;
  margin: 0; }

.background {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff; }

.header {
  width: 100%;
  height: 32%;
  background: #ba77ff; }
  .header .ht-menu {
    width: 100%;
    height: 25%; }
    .header .ht-menu .menu {
      width: 37.5%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-menu .menu div {
        width: 25px;
        height: 100%;
        position: relative;
        float: left;
        margin-left: 14px; }
        .header .ht-menu .menu div img {
          width: 21px;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
    .header .ht-menu .text {
      width: 25%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-menu .text div {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        letter-spacing: 1px;
        font-family: avenirbook;
        font-size: 17px; }
    .header .ht-menu .ht-pen {
      width: 37.5%;
      height: 100%;
      float: left; }
      .header .ht-menu .ht-pen div {
        width: 25px;
        height: 100%;
        position: relative;
        float: right;
        margin-right: 14px; }
        .header .ht-menu .ht-pen div img {
          width: 20px;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
  .header .ht-avatar {
    width: 100%;
    height: 45%;
    position: relative; }
    .header .ht-avatar img {
      width: 70px;
      height: auto;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
  .header .ht-text {
    width: 100%;
    height: 29%; }
    .header .ht-text .text-general {
      width: 50%;
      height: 100%;
      float: left;
      position: relative;
      border-bottom: 2px solid #fff; }
      .header .ht-text .text-general div {
        color: #fff;
        font-family: avenirbook;
        position: absolute;
        top: 50%;
        font-size: 11px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        letter-spacing: 1.1px; }
    .header .ht-text .text-alerts {
      width: 50%;
      height: 100%;
      float: left;
      position: relative; }
      .header .ht-text .text-alerts div {
        color: #fff;
        font-size: 11px;
        font-family: avenirbook;
        position: absolute;
        top: 50%;
        left: 50%;
        letter-spacing: 1.1px;
        transform: translateX(-50%) translateY(-50%); }

.content {
  width: 100%;
  height: 45%; }
  .content .cai-dat-thong-tin {
    width: 100%;
    height: 23%;
    position: relative; }
    .content .cai-dat-thong-tin .ht-avt {
      width: 20%;
      height: 100%;
      position: absolute;
      display: inline-block;
      left: 0px; }
      .content .cai-dat-thong-tin .ht-avt img {
        width: 20px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .content .cai-dat-thong-tin .ht-input {
      width: 80%;
      height: 100%;
      left: 20%;
      display: inline-block;
      position: absolute; }
      .content .cai-dat-thong-tin .ht-input .user-name {
        font-family: avenirbook;
        border: 0px;
        font-size: 14px;
        position: absolute;
        height: 35px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%); }
  .content .border {
    width: 100%;
    height: 1.5px;
    background: gray;
    opacity: 0.1; }

.footer {
  margin-top: 70px;
  width: 100%;
  height: 10%;
  position: relative; }
  .footer .ht-footer {
    width: 55px;
    height: 55px;
    background: #ba77ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .footer img {
    width: 21px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

/*# sourceMappingURL=style.css.map */
